<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>613306350190-l2kt16h9km8r3p2ep6if55vnvd45roct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613306350190-l2kt16h9km8r3p2ep6if55vnvd45roct</string>
	<key>API_KEY</key>
	<string>AIzaSyAH3S7ihS-IaEvP9r7ucEF92yKFg3Ct7eM</string>
	<key>GCM_SENDER_ID</key>
	<string>613306350190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbs.sendbyshare</string>
	<key>PROJECT_ID</key>
	<string>sendbyshare-platform</string>
	<key>STORAGE_BUCKET</key>
	<string>sendbyshare-platform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613306350190:ios:9cb3ccbffc6dae98</string>
	<key>DATABASE_URL</key>
	<string>https://sendbyshare-platform.firebaseio.com</string>
</dict>
</plist>